html {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Old Standard TT', 'Lato', 'Calibri',  serif;
  font-size: 15px;
  line-height: 1.5;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 90%, rgba(209, 216, 252, 0.397) 97.5%); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  min-width: 800px;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}
 
body {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;

}

.contents_0 {
  position: fixed;
  top: 0;
  left: 15%;
  right: 15%;
  width: 70%;
  padding: 0px;
}

.main {
  position: fixed;
  float: left;
  height: calc(100% - 70px);
  top: 58px;
  left: 0;
  right: 0;

  padding-top: 10px;
  overflow-y: scroll;
  margin: 0px;
}

.contents {
  position: relative;
  float: left;
  left: 15%;
  width: calc(70% - 12px);
  margin: 0px;
  padding-bottom: 10px;
}
  

.index_1 {
  position: relative;
  float: right;
  width: 240px;

}
  
.index_2 {
  position: relative;
  float: left;
  width: calc(100% - 300px);
  padding-top: 10px;
  padding-left: 2px;
}
  

.backup {
  position: relative;
  float: left;
  text-align: center;
  color: transparent;
  size: 1pt;
  margin-bottom: 0;
}





.contents_bar1 {
  width: 40%;
  float: left;
  
  }
  
  
  .contents_bar2 {
    width: 60%;
    float: right;
  
  }
  
  
ul.topnav1 {
  position: relative;
  font-size: 15px;
  list-style-type: none;
  display: inline-block;
  border-bottom: 3px solid black;
  width: 100%;
  padding-left: 0px;
}

ul.topnav1 li {
  float: left;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 12px;
  padding-right: 0px;
  padding-left: 0px;
}

ul.topnav1 li a {
  color: black;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0px;
  
}

ul.topnav2 {
  position: relative;
  font-size: 15px;
  list-style-type: none;
  display: inline-block;
  border-bottom: 3px solid black;
  width: 100%;
  text-align: right;

}

ul.topnav2 li {
  float: right;

  padding-top: 0px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  
}

ul.topnav2 li a {
  color: black;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 0px;
}

ul.topnav li a:hover {
  background-color: rgba(99, 102, 243, 0.137);
}

table, th, td {
border: 0px solid black;
text-indent: -2px;
text-align:left; 
padding:0px ;
height:0;
margin: 0;
line-height: 18px;
}

ul.refs {
  width: 750px; 
  columns: 2;
  margin: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;

  

}

ul.refs li{
  margin: 0;
  padding-left: 0px;
  padding-right: 5px;
  list-style-type: none;
  
}

ul.refs2 {
  list-style: none;
  margin: 0;

  
}

ul.refs3 {
  margin: 0;
}


